@use 'variables';

.depoimento__prices{
    padding: variables.$base-space;

    @media(min-width:800px){
        padding: 0;
        width: 50%;
    }

    &__title{
        margin-bottom: variables.$base-space*2;
        font-size: variables.$font-g;
        color: variables.$font-color-dark;
        text-align: variables.$standard-align;

        @media(min-width:800px){
            text-align: left;
        }
    }

    &__list{
        list-style: none;

        &--item{
            display: flex;
            justify-content: space-between;
            margin-top: variables.$base-space;
            margin-bottom: variables.$base-space;
            font-size: variables.$title;

             @media(min-width:600px){
                font-size: variables.$font-m;
             }
        }
    }
}